
ul.navi_menue2 li
 {
 float: left;
 position: relative;

}


ul.navi_menue2 li ul.dropdown_menue
{ background:-moz-linear-gradient(top,#f7f7f7,#d4d4d4);
 background:linear-gradient( #f7f7f7,#d4d4d4) no-repeat;

  position: absolute  ;
  border: solid 1px;  
  top: 0px;
 left:20px;
  padding: 5px 5px 5px 5px;
  width: auto;
  font-size: 15pt;
  box-shadow: 1px 2px 2px 0px #333333;
  
}
ul.navi_menue2 li ul li:hover
{     
    background-color: #fff;
}
ul.navi_menue2 li ul li
{ 
    display: block;
    float: none;
    
}
ul.navi_menue2 li>ul
{
    display: none;
}
ul.navi_menue2 li:hover>ul
{
    display: block;
    border-radius: 10px;
}